
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    background: transparent;
    box-shadow: none;
    height: 120px;

    & .nav-wrapper {
        width: 80%; margin: 0 auto;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    & .brand-logo {
        width:65px; 
        margin-top: 20px;
        font-size: 1.8rem;
    }
    & .valign-wrapper {
        font-family: Staatliches, serif;
    }
    & .LogoL {
        width: 125px;
    }
}