@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* Início do menu */
.header {
    background: #a5c;
    padding-inline: 16px;

    & a {
        font-family: sans-serif;
        text-decoration: none;
    }

    & .nav {
        max-width: 1280px;
        height: 70px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .logo {
        font-size: 48px;
        color: #fff;
    }

    & .nav-list {
        display: flex;
        gap: 32px;
        list-style: none;
    }

    & .nav-list a {
        font-size: 18px;
        color: #fff;
        padding-block: 16px;
    }

    & .hamburger {
        display: none;
        border: none;
        background: none;
        border-top: 3px solid #fff;
        cursor: pointer;
    }

    & .hamburger::before,
    .hamburger::after {
        content: " ";
        display: block;
        width: 30px;
        height: 3px;
        background: #fff;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;
    }
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url(imagem/bg.jpg);
}

/* Início da página história */
.historia {
    max-width: 900px;
    margin: 5px auto;
    text-indent: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    & .primeira-secao-historia p {
        display: block;
        text-align: justify;
    }
}